@import "../../core/scss/colors.scss";
@import "../../core/scss/mixins.scss";
@import "../../core/scss/typography.scss";

$verticalSpacing: 2rem;
$horizontalSpacing: 3rem;

// PasswordGenerator
.pass-gen {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  max-width: 54rem;

  h2 {
    color: $grey;
  }
}

// GeneratedPassword
.generated-pass {
  @include flexSB;

  width: 100%;
  color: $almostWhite;
  background-color: $darkGrey;
  padding: $verticalSpacing $horizontalSpacing;
  margin-top: $verticalSpacing;

  .copy-pass-container {
    @include flexSB;

    span {
      @extend label;
      color: $accent;
      text-transform: uppercase;
    }

    .copy-pass {
      // mui icon button has a 8px padding, this fixes the padding alignment
      margin-right: -8px;

      &:disabled svg {
        opacity: 0.6;
      }

      &:hover svg {
        color: $almostWhite;
      }
    }
  }

  .pass-placeholder {
    color: $grey;
  }
}

// PassConfig
.pass-config {
  width: 100%;
  background-color: $darkGrey;
  padding: $verticalSpacing $horizontalSpacing;
  margin-top: $verticalSpacing;

  .character-length-label-container {
    @include flexSB;

    .character-length {
      color: $accent;
    }
  }

  .pass-config-checkbox {
    margin-top: 1.5rem;

    .MuiFormControlLabel-label {
      @extend label;
      color: $almostWhite;
      margin-left: 2rem;
    }

    .MuiSvgIcon-root {
      color: $accent;
    }
  }

  .strength-container {
    @include flexSB;

    min-height: 7.1rem;
    margin-top: $verticalSpacing;
    background-color: $primary;
    padding: $verticalSpacing $horizontalSpacing;

    label {
      color: $grey;
    }

    .strength-rating {
      @include flexCenter;

      &.too-weak {
        h2 {
          color: $red;
        }
        .strength-rating-bar:first-of-type {
          background-color: $red;
          border-color: $red;
        }
      }
      &.weak {
        h2 {
          color: $orange;
        }
        .strength-rating-bar:nth-of-type(-1n + 2) {
          background-color: $orange;
          border-color: $orange;
        }
      }
      &.medium {
        h2 {
          color: $yellow;
        }
        .strength-rating-bar:not(:last-of-type) {
          background-color: $yellow;
          border-color: $yellow;
        }
      }
      &.strong {
        h2 {
          color: $accent;
        }
        .strength-rating-bar {
          background-color: $accent;
          border-color: $accent;
        }
      }

      h2 {
        color: $almostWhite;
        text-transform: uppercase;
      }

      .strength-rating-bar {
        display: block;
        width: 1rem;
        height: 3rem;
        border: 2px solid $almostWhite;
        margin-left: 0.8rem;

        &:first-of-type {
          margin-left: 1.5rem;
        }
      }
    }
  }

  .generate {
    font-size: $body-m;
    font-weight: 700;
    padding: 1.5rem 2rem;
    margin-top: $verticalSpacing;
    border: 2px solid transparent;

    &:not(:disabled) {
      border: 2px solid $accent;
    }

    svg {
      margin-left: 2rem;
    }

    &:hover {
      background-color: transparent;
      color: $accent;
    }
  }
}
